<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head')  %>
<body>
   <%- include('../partials/header')%>
   <%- include('../partials/navbar')%>
   <div class="main-container">
    <% if (locals.showSidebar){ %>
       <%- include('../partials/sidebar')%>
    <%} %>
      
       <%- include('../partials/main') %>
   </div>

   <%- include('../partials/footer') %>
</body>
</html>